<header id="nav2-3">
	<nav class="navbar navbar-fixed-top" id="main-navbar">
		<div class="container">
			<div class="row">
				<!-- Menu Button for Mobile Devices -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<!-- Image Logo -->
					<!-- note:
						recommended sizes
							width: 150px;
							height: 35px;
					-->
					<a routerLink="/frontindex/frontindex"  class="navbar-brand smooth-scroll"><img src="../assets/images/logo-black.png" class="logo_height" alt="logo"></a>
					
				</div><!-- /End Navbar Header -->

				<div class="collapse navbar-collapse show ml-auto" id="navbar-collapse">
					<!-- Menu Links --> 
					   <ul class="nav navbar-nav navbar-right">
						<li routerLinkActive="active"><a routerLink="/frontindex/frontindex"  class="smooth-scroll">Home</a></li>
						<li routerLinkActive="active"><a routerLink="/frontindex/feature" class="smooth-scroll">Features</a></li>
						<li routerLinkActive="active"><a routerLink="/frontindex/pricing"  class="smooth-scroll">Pricing</a></li>
						<li routerLinkActive="active" class="m-b"><a routerLink="/frontindex/blog" class="edit">Blog</a></li>
						<li  routerLinkActive="active" class="m-b"><a routerLink="/frontindex/contact" class="edit">Contact us</a></li>
						<!-- Dropdown Menu -->
				   
						<li><a routerLink="/pages/login" class="btn-nav btn-grey btn-login">Login</a></li>
						<!-- <li><a routerLink="/frontindex/signup" class="btn-nav btn-green btn-signup smooth-scroll btn_color">Register</a></li> -->
					</ul><!-- /End Menu Links -->
				</div><!-- /End Navbar Collapse -->

			</div><!-- /End Container -->
		</div><!-- /End Container -->
	</nav><!-- /End Navbar -->
</header>