<!-- tables/datatable -->

<div class="row">
    <div class="col">
        <div class="widget">
            <div class="row">
                <div class="col">
					<div class="col-md-12">
					<button type="button" class="btn btn-primary btn-outline pull-right" data-toggle="modal" data-target="#add-country" style="margin-bottom:10px;">
						Add Country
					</button>
					</div>
					
                    <table [mfData]="countries" #mf="mfDataTable" [mfRowsOnPage]="10" class="table table-hover table-striped table-bordered packages-features-table" style="width: 100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><mfDefaultSorter by="name">Country Name</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="iso_code_2">Code</mfDefaultSorter></th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let country of mf.data; let i = index ">
                                <td>{{i+1}}</td>
                                <td>{{country.name}}</td>
                                <td>{{country.iso_code_2}}</td>
                                <td>
									<button class="btn btn-warning btn-circle btn-xs" data-original-title="Edit" data-placement="top" data-toggle="tooltip" type="button" (click) = "editPopup(country._id,country.name,country.iso_code_2)">
										<i class="sli-pencil"></i>
									</button>
									<button class="btn btn-danger btn-circle btn-xs" type="button" data-toggle="modal" data-target="#remove" (click) = "deleteCountry(i, country._id)">
										<i class="sli-trash"></i>
									</button>
								</td>
                            </tr>
                            <tr *ngIf="countries==''">
                                <td colspan="4">No countries found.</td>
                            </tr> 
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end tables/datatable -->
<button style="display: none;" id="openEditModal" data-target="#edit-country" data-toggle="modal"></button>
<div aria-hidden="true" class="modal fade" id="edit-country" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-default" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Country</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form [formGroup]="form9" (ngSubmit)="editCountry()">
                <div class="modal-body">
                    <div class="form-group" [ngClass]="{'has-danger': form9.get('name').touched && form9.get('name').errors}">
                        <label>Name*</label>
                        <input class="form-control" placeholder="Enter Name" type="text" name="name" [(ngModel)]="name" formControlName="name" [ngClass]="{'form-control-danger': form9.get('name').touched && form9.get('name').errors}">
                        <small *ngIf="form9.get('name').touched && form.get('name').errors && form9.get('name').hasError('required')" class="form-control-feedback text-danger">Please enter a valid name</small>
                        <input type="hidden" [(ngModel)]="id" name="id" formControlName="id">
                    </div>
                    <div class="form-group" [ngClass]="{'has-danger': form9.get('iso_code_2').touched && form9.get('iso_code_2').errors}">
                        <label>Code*</label>
                        <input class="form-control" placeholder="Enter Code" type="text" name="iso_code_2" [(ngModel)]="iso_code_2" formControlName="iso_code_2" [ngClass]="{'form-control-danger': form9.get('iso_code_2').touched && form9.get('iso_code_2').errors}">
                        <small *ngIf="form9.get('iso_code_2').touched && form.get('iso_code_2').errors && form9.get('iso_code_2').hasError('required')" class="form-control-feedback text-danger">Please enter a valid code</small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-rounded" data-dismiss="modal" type="button" id="editCountryCloseButton">Cancel</button>
                    <button class="btn btn-warning btn-rounded" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>