<div class="clearfix"></div>
<footer id="footer6-2" class="footer f6 p-y-md bg-edit bg-dark">               
	<div class="container text-white inverse">
		<div class="row">
			<!-- Footer Logo and Text -->
			<div class="col-md-5">
				<img src="../assets/images/logo-white.png" alt="">
				<p class="m-t m-t-10">An Online Construction Management Software that allows users to have a secure way of sending and receiving messages. Salvum also provides a sense of comfort knowing that their staff will be receiving files in an organized manor, freeing up their time for more productive use.</p>
				<div class="footer-social social-btn m-t-md">
					<a class="social-btn sb-facebook"><i class="fa fa-facebook"></i></a>
					<a class="social-btn sb-google-plus"><i class="fa fa-google-plus"></i></a>
					<a class="social-btn sb-twitter"><i class="fa fa-twitter"></i></a>
					<a class="social-btn sb-instagram"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
			<!-- Footer Links -->
			<div class="col-md-2">
				<p><strong class="foot-btdr-h">Quick link</strong></p>
				<ul class="footer-links m-t">
					<li class="m-b"><a routerLink="/" class="edit">Home</a></li>
					<li class="m-b"><a routerLink="frontindex/aboutus" class="edit">About Us</a></li>
					<li class="m-b"><a routerLink="/frontindex/feature" class="edit">Features</a></li>
					<li class="m-b"><a routerLink="/pages/login" class="edit">Login</a></li>
				</ul>

   </div>
			<!-- Footer Links -->
			<div class="col-md-2">


				<p><strong class="foot-btdr-h">Useful Informations</strong></p>
				<ul class="footer-links m-t">
					<li class="m-b"><a routerLink="/frontindex/contact" class="edit">Contact Us</a></li>
					<!--<li class="m-b"><a href="privacy.html" class="edit">Privacy Policy</a></li>-->
					<li class="m-b"><a  class="edit">Terms and Conditions</a></li>
				</ul>
			</div>
			<!-- Footer Links -->
			<div class="col-md-3">
				<p><strong class="foot-btdr-h">Newsletter</strong></p>
				<ul class="footer-links m-t-10">
					<li class="m-b">
					<form class="form-inline">
					  <div class="form-group form-news">
						<div class="input-group">
						  <input type="text" class="newsletter form-control" id="newsletter_email" placeholder="Enter Email Address">
						  <div class="input-group-addon"><a (click) = "addnewsletter()"><i class="fa fa-paper-plane"></i></a></div>
						</div>
					  </div>
					</form>
					</li>
					
				</ul>
			</div>
		</div><!-- /End Row-->
	</div><!-- /End Container-->
</footer>