<section class="page-head bg-img p-y-md" >
	<div class="container pad-0">
		<div class="row c2 h-bg text-white">
			<div class="col-sm-6">
				<h1 class="h3 f-w-900 m-b-0">About Us</h1>
			</div>
			<div class="col-sm-6 text-right">
				<ol class="breadcrumb m-b-0 pull-right">
					<li>
						<a href="index.html" class="inverse">Home</a>
					</li>
					<li class="active text-white">About Us</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section id="tm_company_intro" class="white">
	<div class="container pad-0">
		<div class="row">
			<div class="col-sm-9">
				<div class="tm_about_company">
					<h2><span class="colored">We Build</span> Things With Passion</h2>
					<div class="info">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<p>
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p>
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<div class="clearfix"></div>
					</div>
				</div>
			</div><!-- /About Company -->

					<!-- Company Intro Slider -->
			<div class="col-sm-3">
				<div class="tm_company_slides">
					<div class="active_slide">
						<img src="../assets/images/company-intro-1.jpg" alt="">
						<div class="content">
							MODERN BUILDING IN CALIFORNIA
						</div>
					</div>
				</div>
			</div>
				  <!-- /Company Intro Slider -->
			  </div><!-- /Row -->
		  </div><!-- /Container -->
	  </section>
	  
		<section id="who_are">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="who_text">
                                <div class="section_title_white"><h2>Who <span>we are?</span></h2></div>
                                <p>Nibh. Eu quis Congue euismod aliquet sociis ante lobortis consequat suscipit eget elit ante lacinia interdum bibendum quam risus maecenas mattis dictumst ultrices neque class lobortis. Mattis nostra litora mollis sociis dolor pretium senectus nullam turpis feugiat consectetuer sapien urna gravida sed sed pede posuere ultricies placerat Ligula quis sagittis.</p>
                                <div class="who_list">
                                    <ul>
                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <span>We are trying to find your dream house.</span></li>
                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Consequat tempus mollis eu Adipiscing ullamcorper fames curabitur.</span></li>
                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Our goal is to perfect match for your dream house.</span></li>
                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Nisl adipiscing lacus integer morbi. Netus, mollis suspendisse. </span></li>
                                        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> <span>Libero ut vestibulum dignissim volutpat auctor vel. Nonummy tortor. Nulla.</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
		
		
		<section id="about_description" class="white">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5">
                        <div class="we_do">
                            <div class="title-row"><h2 class="section_title_blue">What <span>We Do</span></h2></div>
                            
                            <div class="accordion">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default accordion_panel">
                                        <div class="panel-heading accordian_title" role="tab" id="headingOne">
                                            <div class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Hendrerit convallis gravida eros morbi vivamus.
                                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body accordian_para">
                                                <p>Consectetuer pulvinar accumsan tristique odio tempor. Auctor tempus sociosqu pulvinar pharetra vel, cubilia nec sociosqu aliquet quis facilisis diam mus gravida cursus nascetur hac Quis molestie pretium curae.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default accordion_panel">
                                        <div class="panel-heading accordian_title" role="tab" id="headingTwo">
                                            <div class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Condimentum felis feugiat scelerisque tempus tortor.
                                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body accordian_para">
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default accordion_panel">
                                        <div class="panel-heading accordian_title" role="tab" id="headingThree">
                                            <div class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Platea aliquam fusce viverra primis facilisis sit elementum.
                                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body accordian_para">
                                                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default accordion_panel">
                                        <div class="panel-heading accordian_title" role="tab" id="headingFour">
                                            <div class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    Facilisi Suscipit justo aenean convallis inceptoss.
                                                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body accordian_para">
                                                <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="tm_box_heading">
                        <h2 class="section_title_blue">Message from <span>CEO</span></h2>
                            
                        </div>
                        <div class="tm_ceo_message">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="c_img">
                                        <img src="../assets/images/ceo.jpg" class="img-responsive" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h4>Rob - CEO</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>     
       <section id="tm_project_facts">
                <div class="container pad-0">
                    <div class="row">
                        <!-- Description Content -->
                        <div class="col-sm-6">
                            <div class="desc">
                                <h3>We are the leaders in developing modern structures and interiors</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div><!-- /Description Content -->

                        <!-- Achievements -->
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="achievements">
									<div class="row">
										<!-- Projects -->
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<span class="icon-blueprint"><i class="fa fa-leaf" aria-hidden="true"></i></span>
											<div class="content">
												<h5>PROJECTS DONE</h5>
												<h2>2000</h2>
											</div>
										</div><!-- /Projects -->
										<!-- Projects -->
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<span class="icon-engineer"><i class="fa fa-tasks" aria-hidden="true"></i></span>
											<div class="content">
												<h5>WORKERS</h5>
												<h2>1200</h2>
											</div>
										</div><!-- /Projects -->
										<!-- Projects -->
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
											<span class="icon-first-prize-trophy"><i class="fa fa-gift" aria-hidden="true"></i></span>
											<div class="content">
												<h5>AWARDS</h5>
												<h2>55</h2>
											</div>
										</div><!-- /Projects -->
									</div><!-- /Row -->
                                </div><!-- /Row -->
                            </div><!-- /Content -->
                        </div><!-- /Achievements -->
                    </div>
                </div>
        </section>
		
		