<!-- tables/datatable -->

<div class="row">
    <div class="col">
        <div class="widget">
            <div class="row">
                <div class="col">
                    <table id="datatable-example-2" class="table table-hover table-striped table-bordered associatives-table" style="width: 100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Priviledge</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>John Wick</td>
                                <td>Johnwick@gmail.com</td>
                                <td>Admin</td>
                                <td>Accepted</td>
                            </tr>
							<tr>
                                <td>2</td>
                                <td>Robert Serrare</td>
                                <td>Robertrlane@hotmail.com</td>
                                <td>Admin</td>
                                <td>Accepted</td>
                            </tr>
                            
                        </tbody>
                        <tfoot class="hidden">
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end tables/datatable -->
