<!-- tables/datatable -->

<div class="row">
    <div class="col">
        <div class="widget">
            <div class="row">
                <div class="col">
                    <table id="datatable-example-2" class="table table-hover table-striped table-bordered associatives-table" style="width: 100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Job Number</th>
                                <th>Job Title</th>
                                <th>Trade</th>
                                <th>Trade Task</th>
                                <th>Project Manager</th>
                                <th>Awarded</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>23</td>
                                <td>Designing</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>John Smith</td>
                                <td>&nbsp;</td>
                            </tr>
							<tr>
                                <td>2</td>
                                <td>14</td>
                                <td>Developer</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>Alena Clu</td>
                                <td>&nbsp;</td>
                            </tr>
                            
                        </tbody>
                        <tfoot class="hidden">
                            <tr>
                                <th>#</th>
                                <th>Job Number</th>
                                <th>Job Title</th>
                                <th>Trade</th>
                                <th>Trade Task</th>
                                <th>Project Manager</th>
                                <th>Awarded</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end tables/datatable -->
