<section class="page-head bg-img p-y-md">
	<!-- <div class="overlay"></div> -->
	<div class="container pad-0">
		<div class="row c2 h-bg text-white">
			<div class="col-sm-6">
				<h1 class="h3 f-w-900 m-b-0">Blog Detail</h1>
			</div>
			<div class="col-sm-6 text-right">
				<ol class="breadcrumb m-b-0 pull-right">
					<li>
						<a href="index.html" class="inverse">Home</a>
					</li>
					<li class="text-white">Blog</li>
					<li class="active text-white">Blog Detail</li>
				</ol>
			</div>
		</div>
	</div>
</section>
<section class="p-y-md white">
	<div class="container pad-0">
		<div class="row">
			<div class="col-md-12">
				<div class="blog-list p-b m-b-md">    
					<div class="blog-post">
						<img src="../assets/images/bg-1.jpg" alt=""/>
						<div class="date">
							29
							<span>SEP 2017</span>
						</div>
						<h4><a href="#">Standard blog post with photo</a></h4>
						<ul class="post-meta">
							<li><i class="fa fa-folder-open"></i> <a href="#">Web Marketing</a>, <a href="#">Seo</a>, <a href="#">Startup</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, deleniti, ducimus. Cupiditate quod maxime ratione assumenda aliquid sint eligendi hic perspiciatis aperiam optio, nesciunt magnam omnis totam eaque, debitis deleniti aliquam fugiat natus unde dolore consequatur expedita, nulla ex! Porro aut, magnam minus reprehenderit ducimus nulla numquam ipsum saepe quos rem, delectus molestias esse exercitationem repellat neque. Quidem consectetur sint eius veritatis expedita animi, vero perferendis maiores ratione odio qui cumque provident unde adipisci atque saepe. Nemo minus aspernatur at velit sunt repudiandae labore molestiae sequi itaque, eum nam harum totam consectetur corrupti ea delectus voluptas saepe animi. Distinctio rerum sunt cumque provident ullam nulla aut harum nostrum laboriosam, soluta, rem dicta impedit optio esse neque dolor, totam sed. Laboriosam!</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sunt, et amet possimus inventore nesciunt nihil qui! Suscipit vero, hic? Voluptate minus, id repudiandae saepe consequatur ullam corporis aliquid necessitatibus impedit, quos nisi culpa aliquam earum rerum, dolore perferendis quia. Similique totam, hic, dignissimos veniam repellendus eius explicabo quisquam dolorum perspiciatis nihil soluta voluptates</p>

						<blockquote class="quote-post">
							<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error</p>
						</blockquote>

						<p class="m-b-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at debitis deleniti dignissimos ea enim iste laboriosam nihil omnis possimus quia, tempora,
						totam voluptatibus! Animi consectetur dolor in laboriosam unde.</p>

					   

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi ex eos, veritatis enim sit quia maiores quam soluta, inventore cumque dolores voluptas quas. Quas iste veritatis commodi reiciendis maiores dolores tenetur nisi. Possimus dolores neque ipsam assumenda labore culpa, saepe itaque asperiores repudiandae dolorum, dicta alias rerum praesentium, earum optio quisquam, expedita! Odit dicta consequatur exercitationem quaerat obcaecati alias a sint repudiandae sapiente, quod. Soluta sit dolorem delectus, quibusdam tempora ullam suscipit ex nihil.</p>
					</div>
				</div>

				
			</div>

			
		</div>
	</div>
</section>