<section id="hero4" class="p-b-0 bg-edit ch-dark ">
	<div class="container p-t-lg">
		<div class="row">
			<div class="col-md-10 offset-md-1 text-center">
				<h1 class="text-white m-b-md p-t-md">Construction Management Software</h1>
				<p class="lead text-white m-b-md f-w-700">With salvum you can organize and connect everything you work with. Track projects from start to finish giving you an accurate picture of your work so you can focus and be more productive.</p>
				<a class="btn btn-md btn-ghost text-uppercase">Take a Tour</a>
				<a routerLink="/frontindex/pricing" class="btn btn-md btn-green text-uppercase getleads_btn_color">Try for Free</a>
			</div>
		</div><!-- /End Row -->
	</div><!-- /End Container -->
	<div class="container p-t-md">
		<div class="row">
			<div class="col-sm-12">
				<div id="carousel-dashboard" class="carousel slide carousel-fade carousel-dashboard" data-ride="carousel">
				  
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
						<img src="../assets/images/ui2.png" class="img-responsive m-x-auto" alt="">
						</div>

					</div>
				</div>
			</div><!-- /End Col -->
		</div><!-- /End Row -->
	</div><!-- /End Container -->
</section>

<section id="video4-1" class="p-y-md bg-edit bg-green video content-align-md">
	<div class="container">
		<div class="col-md-12 y-middle c2">
			<div class="row ">    
				<div class="col-md-6 text-white">
					<h4>Plan, track, and collaborate using the preferred app of more than 300.000 users.</h4>
					<p class="p-opacity m-b-0">Exercitationem quo magnam ducimus suscipit, eius, iusto quae id non facere saepe sed quas beatae cumque tempore mollitia soluta et distinctio. Perferendis odio delectus beatae cumque undequas quam vitae.</p>
				</div>
				<!-- Video Image with Popup -->
				<div class="col-md-4 offset-md-1">
					<div class="row">
						<div class="popup-box">
							<img src="../assets/images/bg-2.jpg" class="img-responsive" alt="">
							<div class="popup-button wow pulse" data-wow-iteration="3">
								<a class="mp-iframe" ><i class="fa fa-play" style="background-color: #525e6c;"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /End Col-12 -->
		</div><!-- /End Row -->
	</div><!-- /End Container -->
</section>

<section id="content9-1" class="p-t-lg p-b content-dashboard content-align-md bg-edit">
            
	<div class="container">
		<div class="row y-middle c2">    
			<!-- Device Image -->
			<div class="col-md-7 text-center wow fadeInLeft"> 
				<img src="../assets/images/mac1.png" class="dash-left" alt=""> 
			</div>
			<!-- Content -->
			<div class="col-md-5 center-md">
				<h2 class="m-b-md">Everything you need to organize your business, beautifully</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum eleifend arcu sit amet hendrerit. Etiam tempor ante ac ipsum finibus, at consectetur urna tristique. Nulla nec lacinia velit.</p>
				<a routerLink="/frontindex/pricing" class="btn btn-green btn-md m-t-md text-uppercase smooth-scroll">START YOUR BASIC ACCOUNT</a>
			</div>
		</div><!-- /End Row -->
	</div><!-- /End Container -->

</section> 

<section id="features7-1" class="p-y-lg content-dashboard content-align-md bg-edit">
            
	<div class="container">
		<div class="row features-block y-middle">
			<!-- Image Device -->
			<div class="col-md-7 push-md-5 text-center wow fadeInRight">
				<img src="../assets/images/mac1.png" alt="">
			</div>
			<!-- Features -->
			<div class="col-md-5 pull-md-7 center-md">
				<div class="col-xs-12 p-t m-b-md"> 
					<h2 class="m-b">Easy from the start</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum eleifend arcu sit amet hendrerit. Etiam tempor ante ac ipsum finibus, at consectetur urna tristique. Nulla nec lacinia velit.</p>
				</div>
				<div class="col-xs-12 icon-left m-b-md clearfix"> 
					<i class="icon-users"></i>
					<h5 class="m-t f-w-900">Collaborate seamlessly</h5>
					<p>Explicabo neque, iure adipisci dignissimos earum repellendus laudantium.</p>
				</div>
				<div class="col-xs-12 icon-left m-b-md clearfix"> 
					<i class="icon-albums"></i>
					<h5 class="m-t f-w-900">Manage your documents</h5>
					<p>Repellendus, nostrum debitis. Tempora doloremque voluptas officiis.</p>
				</div>
			</div><!-- /End Col -->
		</div><!-- /End Row -->
	</div><!-- /End Container -->

</section> 


<div class="center_slider">
	<section id="testimonials6-2" class="p-y-md bg-edit bg-green testimonials6-2">
		<div class="container">      
			<div class="row testimonials">
				<div class="col-md-8 col-md-offset-2 big-img-left text-white">
					
					<div id="carousel-testimonial2" class="carousel slide carousel-fade carousel-testimonial-single" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#carousel-testimonial2" data-slide-to="0" class="active"></li>
							<li data-target="#carousel-testimonial2" data-slide-to="1"></li>
							<li data-target="#carousel-testimonial2" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<!-- Testimonial 1 -->
							<div class="item active">
								<div class="col-md-3 col-md-offset-1 text-center">
									<figure>
										<img src="../assets/images/testimonial1.jpg" class="img-circle m-x-auto" width="130" height="130" alt=""> 
									</figure>
								</div>
								<div class="col-md-8">
									<blockquote>
										<p class="m-b-md p-opacity f-w-700">"Possimus soluta odio amet debitis eligendi sapiente! Quas labore facilis id voluptas, perferendis qui velit animi, amet repellat ad dolorem aliquid quo officiis." </p>
										<div class="cite text-edit">
											Carol Miller
											<span class="cite-info">Awesome Lorem Studio</span>
										</div>
									</blockquote>
								</div>
							</div>
							<!-- Testimonial 2 -->
							<div class="item">
								<div class="col-md-3 col-md-offset-1 text-center">
									<figure>
										<img src="../assets/images/testimonial2.jpg" class="img-circle m-x-auto" width="130" height="130" alt=""> 
									</figure>
								</div>
								<div class="col-md-8">
									<blockquote>
										<p class="m-b-md p-opacity f-w-700">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit earum veniam, provident dolorum hic quibusdam quis eveniet aut harum cum, corporis recusandae voluptate." </p>
										<div class="cite text-edit">
											Jack Johnson
											<span class="cite-info">Startup Ipsum</span>
										</div>
									</blockquote>
								</div>
							</div>
							<!-- Testimonial 3 -->
							<div class="item">
								<div class="col-md-3 col-md-offset-1 text-center">
									<figure>
										<img src="../assets/images/testimonial3.jpg" class="img-circle m-x-auto" width="130" height="130" alt=""> 
									</figure>
								</div>
								<div class="col-md-8">
									<blockquote>
										<p class="m-b-md p-opacity f-w-700">"Aperiam laborum ex maxime commodi aspernatur quis! Temporibus provident officia, sit impedit soluta dolorem, veritatis hic sapiente molestiae dolorum." </p>
										<div class="cite text-edit">
											Ethan Daniels
											<span class="cite-info">Wonderful Agency</span>
										</div>
									</blockquote>
								</div>
							</div>
						</div>
					</div><!-- /End Carousel -->

				</div><!-- /End Col-md-8 -->
			</div><!-- /End Row -->
		</div><!-- /End Container -->
		
	</section>
</div>
