 <section class="page-head bg-img p-y-md">
	<div class="container pad-0">
		<div class="row c2 h-bg text-white">
			<div class="col-sm-6">
				<h1 class="h3 f-w-900 m-b-0">Blog</h1>
			</div>
			<div class="col-sm-6 text-right">
				<ol class="breadcrumb m-b-0 pull-right">
					<li>
						<a href="#" class="inverse">Home</a>
					</li>
					<li class="active text-white">Blog</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="p-y-md white">
	<div class="container pad-0">
		<div class="row">
			<div class="col-md-6">
				<div class="blog-list">    
					<div class="blog-post">
						<img src="../assets/images/bg-1.jpg" alt="">
						<div class="date">
							29<span>SEP 2017</span>
						</div>
						<h4><a href="blog-detail.html">Standard blog post with photo</a></h4>
						<ul class="post-meta">
							<li><i class="fa fa-folder-open"></i> <a href="#">Web Marketing</a>, <a href="#">Seo</a>, <a href="#">Startup</a></li>
						</ul>
						<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  </p>
						<a href="blog-detail.html" class="btn btn-green text-uppercase smooth-scroll"> Continue Reading</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="blog-list">    
					<div class="blog-post">
						<img src="../assets/images/bg-2.jpg" alt="">
						<div class="date">
							29<span>SEP 2017</span>
						</div>
						<h4><a href="blog-detail.html">Standard blog post with photo</a></h4>
						<ul class="post-meta">
							<li><i class="fa fa-folder-open"></i> <a href="#">Web Marketing</a>, <a href="#">Seo</a>, <a href="#">Startup</a></li>
						</ul>
						<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  </p>
						<a href="blog-detail.html" class="btn btn-green text-uppercase smooth-scroll"> Continue Reading</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="blog-list">
					<div class="blog-post">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nrJtHemSPW4"></iframe>
						</div>
						<div class="date">
							18
							<span>SEP 2017</span>
						</div>
						<h4 class=""><a href="blog-detail.html">Standard text post</a></h4>
						<ul class="post-meta">
							
							<li><i class="fa fa-folder-open"></i> <a href="#">Web Marketing</a>, <a href="#">Seo</a>, <a href="#">Startup</a></li>
							
						</ul>
						<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  </p>
						<a href="blog-detail.html" class="btn btn-green text-uppercase smooth-scroll"> Continue Reading</a>
					</div>
				</div>
				</div>
				<div class="col-md-6">
					<div class="blog-list">
						<div class="blog-post">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nrJtHemSPW4"></iframe>
							</div>
							<div class="date">
								15
								<span>SEP 2017</span>
							</div>
							<h4><a href="blog-detail.html">Video Post</a></h4>
							<ul class="post-meta">
								
								<li><i class="fa fa-folder-open"></i> <a href="#">Web Marketing</a>, <a href="#">Seo</a>, <a href="#">Startup</a></li>
							   
							</ul>
							<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  </p>
							<a href="blog-detail.html" class="btn btn-green text-uppercase smooth-scroll"> Continue Reading</a>
						</div>
					</div>
				</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<nav aria-label="Page navigation example" class="full-nav">
					<ul class="pagination pull-right">
						<li class="page-item disabled">
						  <a class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
						  <a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>					
			</div>
		</div>
	</div>
	</section>