<!-- tables/datatable -->
<div class="row">
    <div class="col">
        <div class="widget">
            <div class="row">
                <div class="col">
                    <table [mfData]="users" #mf="mfDataTable" [mfRowsOnPage]="10" class="table table-hover table-striped table-bordered associatives-table" style="width: 100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                                <th><mfDefaultSorter by="email">Email</mfDefaultSorter></th>
                                <th>Package Price</th>
                                <th>Pay Date</th>
                                <th>Expiry Date</th>
                                <th>Status</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of mf.data; let i=index ">
                                <td>{{i+1}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>${{user.paidAmount}}</td>
                                <td>{{ user.created_date }}</td>
                                <td>{{ user.expiry_date }}</td>
                                <td>{{user.status == '1' ? 'Active' : 'Deactivated'}}</td>
                                
                            </tr>   
                            <tr *ngIf="users==''">
                            <td colspan="7">No users found.</td>
                            </tr>          
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end tables/datatable -->