<section class="page-head bg-img p-y-md" >
	<div class="container pad-0">
		<div class="row c2 h-bg text-white">
			<div class="col-sm-6">
				<h1 class="h3 f-w-900 m-b-0">Features</h1>
			</div>
			<div class="col-sm-6 text-right">
				<ol class="breadcrumb m-b-0 pull-right">
					<li>
						<a href="#" class="inverse">Home</a>
					</li>
					<li class="active text-white">Features</li>
				</ol>
			</div>
		</div>
	</div>
</section> 


<section id="about_description">
	<div class="container">
		<div class="row">
				<div class="title-row"><h2 class="section_title_blue text-center">Our <span> Features</span></h2></div>
				<p class="txt-cont-h"> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris egestas quam massa nisl quis neque. Suspendisse in orci enim. </p>

				<div class="m-t-40">
					<div class="row">
						<div class="col-md-4">
							<div class="featr-box">
								<div class="row">
									<div class="col-md-3 col-xs-3 text-right">
										<i class="fa fa-tablet" aria-hidden="true"></i>
									</div>
									<div class="col-md-9 col-xs-9">
										<h5> Lorem Foirem </h5>
										<p> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="featr-box">
								<div class="row">
									<div class="col-md-3 col-xs-3 text-right">
										<i class="fa fa-files-o" aria-hidden="true"></i>
									</div>
									<div class="col-md-9 col-xs-9">
										<h5> Lorem Foirem </h5>
										<p> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. </p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="featr-box">
								<div class="row">
									<div class="col-md-3 col-xs-3 text-right">
										<i class="fa fa-shield" aria-hidden="true"></i>
									</div>
									<div class="col-md-9 col-xs-9">
										<h5> Lorem Foirem </h5>
										<p> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="featr-img m-t-40">
							<img src="../assets/images/feature-big.png"> 
						</div>
					</div>
				</div>
		</div>
	</div>

	<div class="contr-feature">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<div class="countr-bx">
								<div class="counter" data-count="260">0</div>
								<h5> Experience </h5>
							</div>
						</div>
						<div class="col-md-4">
							<div class="countr-bx">
								<div class="counter" data-count="140">0</div>
								<h5> Projects </h5>
							</div>
						</div>

						<div class="col-md-4">
							<div class="countr-bx">
								<div class="counter" data-count="270">0</div>
								<h5> Clients </h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<div class="clearfix"></div>

<section id="tm_company_intro" class="p-t-0">
	<div class="container pad-0">
        <div class="row">
            <div class="col-sm-6">
                <div class="tm_about_company">
					<h2><span class="colored">App</span> Features</h2>
					<div class="info">
						<p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        </p>
						<div class="featr-box howr-brdr-n">
							<div class="row">
								<div class="col-md-1 col-xs-2">
									<i class="fa fa-tablet" aria-hidden="true"></i>
								</div>
								<div class="col-md-10 col-xs-10 left-txt-fec">
									<h5> Lorem Foirem </h5>
									<p> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris . </p>
								</div>
							</div>
						</div>
						<div class="featr-box howr-brdr-n">
							<div class="row">
								<div class="col-md-1 col-xs-2">
									<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
								</div>
								<div class="col-md-10 col-xs-10 left-txt-fec">
									<h5> Endless Possibilities </h5>
									<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								</div>
							</div>
						</div>
						<div class="featr-box howr-brdr-n">
							<div class="row">
								<div class="col-md-1 col-xs-2">
									<i class="fa fa-shield" aria-hidden="true"></i>
								</div>
								<div class="col-md-10 col-xs-10 left-txt-fec">
									<h5> Clean & Simple </h5>
									<p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti  . </p>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div><!-- /About Company -->

			<div class="col-sm-6">
				<div class="tm_company_slides">
					<div class="active_slide mobile-img">
						<img src="../assets/images/mobile.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		
		<div style="width:50%;margin:auto;">
			<div style="width:100%;float:left;margin:40px 0;">
				<hr />
			</div>
		</div>
		
		<div class="clearfix"></div>
		
		<div class="col-md-12">
            <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 first-core-feature">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 left">
							<img src="../assets/images/mobile.png" alt="" class="img-responsive is-retina">
						</div>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 right">
							<h2>Level Based Message System</h2>
							<hr class="large">
							<p class="m-t-20">
								It is easy to Share documents on multiple levels in a private environment or at a secure business.  Imagine controlling the way your coworkers or friends view your messages and attachments.  Be confident that your messages, documents, pictures and videos are only going to the person their intended for. Searching for emails is no longer a problem, while filing documents are automatically done for you. With Salvum, businesses are now in the position to cut their basic office work by 75 percent. Now you can make that tee time with future clients and generate more business.
							</p>
							<div class="featr-box howr-brdr-n">
								<div class="row">
									<div class="col-md-1 col-xs-2">
										<i class="fa fa-tablet" aria-hidden="true"></i>
									</div>
									<div class="col-md-10 col-xs-10 left-txt-fec">
										<h5> Lorem Foirem </h5>
										<p> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris . </p>
									</div>
								</div>
							</div>

							<div class="featr-box howr-brdr-n">
								<div class="row">
									<div class="col-md-1 col-xs-2">
										<i class="fa fa-shield" aria-hidden="true"></i>
									</div>
									<div class="col-md-10 col-xs-10 left-txt-fec">
										<h5> Lorem Foirem </h5>
										<p> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris . </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
		
		<div style="width:50%;margin:auto;">
			<div style="width:100%;float:left;margin:40px 0;">
				<hr />
			</div>
		</div>
		
		<div class="clearfix"></div>
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 second-core-feature">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 left">
					<h2>Mobile Ready</h2>
					<hr class="large">
					<p class="m-t-20">
						Sending and receiving private messages for your personal use or your business, Salvum meets all your digital communication needs. Our secure cloud application allows you to receive your documents at home, in the office or on the go with confidence. Our users may access Salvum through their Android, iPhone, tablets or Windows phone via app or mobile web.
					</p>
					<div class="featr-box howr-brdr-n">
						<div class="row">
							<div class="col-md-1 col-xs-2">
								<i class="fa fa-tablet" aria-hidden="true"></i>
							</div>
							<div class="col-md-10 col-xs-10 left-txt-fec">
								<h5> Lorem Foirem </h5>
								<p> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris . </p>
							</div>
						</div>
					</div>
					<div class="featr-box howr-brdr-n">
						<div class="row">
							<div class="col-md-1 col-xs-2">
								<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
							</div>
							<div class="col-md-10 col-xs-10 left-txt-fec">
								<h5> Lorem Foirem </h5>
								<p> Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra erat sed fermentum feugiat velit mauris . </p>
							</div>
						</div>
					</div>
				
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right">
					<img src="../assets/images/mobile.png" alt="" class="img-responsive is-retina">
				</div>
			</div>
		</div>
		
		
		
		
	</div>
</section>

