<div class="widget">
	<h5>
		Server Space: 30GB<br><br>
		Packages Space: 2136 GB<br><br>
		Consumed Space: 246.94 MB
	</h5>
</div>

<div class="row">
    <div class="col">
        <div class="widget">
            <div class="row">
                <div class="col">
                    <div class="title">Pie and donut charts</div>
                    <div class="description">Use the following examples as a starting point for pie and donut charts</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-6">
                    <div id="nvd3-donut" class="nvd3-donut">
                        <svg style="height:400px;width:100%"></svg>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div id="nvd3-pie" class="nvd3-pie">
                        <svg style="height:400px;width:100%"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>